<!-- Begin Magical Incantations for the Portal to Holberton AirBnB -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Holberton AirBnB: The Ultimate Destination</title>

<!-- Summoning the Favicon -->
<link rel="shortcut icon" href="{{ url_for('static', 
                                filename='images/icon.png') }}?{{ cache_id }}">

<!-- Enchanting CSS Styles -->
<link rel="stylesheet" href="{{ url_for('static', 
                             filename='styles/4-common.css') }}?{{ cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', 
                             filename='styles/3-header.css') }}?{{ cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', 
                             filename='styles/3-footer.css') }}?{{ cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', 
                             filename='styles/6-filters.css') }}?{{ cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', 
                             filename='styles/8-places.css') }}?{{ cache_id }}">
<link rel="stylesheet" href="{{ url_for('static', 
                             filename='styles/font-awesome.css') }}?{{ cache_id }}">
<!-- Conjuring the Powers of jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Unleashing a Mystical JavaScript Spell -->
<script type="text/javascript" src="{{ url_for('static', 
                                   filename='scripts/2-hbnb.js') }}?{{ cache_id }}"></script>
<!-- End of Magical Incantations -->
